<div class="container">
  <h2 class="my-3">Add a todo</h2>

  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Date</label>
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
        formControlName="date"
        placeholder="Enter date"
      />
      <em *ngIf="todoForm.get('date')?.invalid && display" style="color: red"
        >Please enter a valid date</em
      >
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        formControlName="title"
        placeholder="Enter Title"
      />
      <em *ngIf="todoForm.get('title')?.invalid && display" style="color: red"
        >Title length must be between 3 to 50 characters and must not contain
        special characters</em
      >
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="desc"
        formControlName="desc"
        rows="3"
      ></textarea>
      <em *ngIf="todoForm.get('desc')?.invalid && display" style="color: red"
        >This is a required field</em
      >
    </div>

    <button class="btn btn-primary">Add todo</button>
  </form>
</div>
